<div class="page-container">
  <div class="main-content-container">
    <%= image_tag 'rails_book.png', alt: 'rails book logo with title  ' %>
    <br>
    <p>Welcome to your new favorite social network</p>
  </div>

  <div class="login-container">
    <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
      <div class="field">
        <%= f.email_field :email, autofocus: true, autocomplete: "email", placeholder: 'Email' %>
      </div>

      <div class="field">
        <%= f.password_field :password, autocomplete: "current-password", placeholder: 'Password' %>
      </div>

      <% if devise_mapping.rememberable? %>
        <div class="field checkbox-container">
          <%= f.check_box :remember_me %>
          <%= f.label :remember_me, class: 'remember-label' %>
        </div>
      <% end %>

      <div class="actions center">
        <%= f.submit "Log in", class: 'login-button' %>
      </div>
    <% end %>

    <div class="links-container">
      <%= render "devise/shared/links" %>
    </div>
  </div>
</div>